<template>
    <el-main class="advices">
        <div class="title block">
          <h1>Видео-советы</h1>
          <div class="subtitle">
            <p>1 видео = 1 полезный совет</p>
            <input class="search" placeholder="Поиск">
          </div>
        </div>
        <div class="hashtags block">
          <el-row :gutter="20">
            <el-col :span="4">Все</el-col>
            <el-col :span="4">Бесплатные</el-col>
            <el-col :span="4"># Беременность</el-col>
            <el-col :span="4"># 1-3 года</el-col>
            <el-col :span="4"># 3-5 лет</el-col>
            <el-col :span="4"># Подготовка</el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="4"># Беременность</el-col>
            <el-col :span="4"># 1-3 года</el-col>
            <el-col :span="4"># 3-5 лет</el-col>
            <el-col :span="4"># Подготовка</el-col>
            <el-col :span="4">Показать все...</el-col>
          </el-row>
        </div>
        <div class="advice-group block">
          <div class="group-name">Рекомендованные вам</div>
          <AdviceList/>
        </div>
        <div class="advice-group block">
          <div class="group-name">Новые</div>
          <AdviceList/>
        </div>
        <div class="advice-group block">
          <div class="group-name"><span>#</span> 3-5 лет</div>
          <AdviceList/>
        </div>
        <div class="advice-group  block">
          <div class="group-name"><span>#</span> Для начинающих родителей</div>
          <AdviceList/>
        </div>
        <div class="advice-group block">
          <div class="group-name">Все</div>
          <AdviceList/>
        </div>
        <div class="advice-group block">
          <div class="group-name"><span>#</span> Беременность</div>
          <AdviceList/>
        </div>
      </el-main>
</template>
<script>
import AdviceList from "@/components/AdviceList";

export default {
  name: "Advices",
  components: {
    AdviceList
  }
}
</script>
