<template>
  <el-main class="blog block">
      <div class="title">
        <h1>Блог</h1>
        <input class="search" placeholder="Поиск">
      </div>
      <div class="hashtags">
        <el-row :gutter="20">
          <el-col :span="4">Все</el-col>
          <el-col :span="4">Бесплатные</el-col>
          <el-col :span="4"># Беременность</el-col>
          <el-col :span="4"># 1-3 года</el-col>
          <el-col :span="4"># 3-5 лет</el-col>
          <el-col :span="4"># Подготовка</el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="4"># Беременность</el-col>
          <el-col :span="4"># 1-3 года</el-col>
          <el-col :span="4"># 3-5 лет</el-col>
          <el-col :span="4"># Подготовка</el-col>
          <el-col :span="4">Показать все...</el-col>
        </el-row>
      </div>
      <div class="content">
        <div class="leftbox">
          <el-row>
            <el-col class="filters" :span="12">
                    <button>Популярные</button>
                    <button>Новые</button>
            </el-col>
            <el-col :span="12">
              <span>296 статей</span>
            </el-col>
          </el-row>
        <el-row>
          <router-link to="/blog/article">
            <el-col :span="12" class="advice-preview card">
                <div class="tags">
                    <p># Беременность </p>
                    <p>Бесплатно</p>
                </div>
                <div class="info">
                    <div class="duration">1 ч 20 мин  •  152 просмотра</div>
                    <div class="video-title">Название статьи</div>
                </div>
            </el-col>
        </router-link>
        <router-link to="/blog/article">
            <el-col :span="12" class="advice-preview card">
                <div class="tags">
                    <p># Беременность </p>
                    <p>Бесплатно</p>
                </div>
                <div class="info">
                    <div class="duration">1 ч 20 мин  •  152 просмотра</div>
                    <div class="video-title">Название статьи</div>
                </div>
            </el-col>
        </router-link>
        </el-row>
        <el-row>
        <router-link to="/blog/article">
            <el-col :span="24" class="advice-preview card">
                <div class="tags">
                    <p># Беременность </p>
                    <p>Бесплатно</p>
                </div>
                <div class="info">
                    <div class="duration">1 ч 20 мин  •  152 просмотра</div>
                    <div class="video-title">Название статьи</div>
                </div>
            </el-col>
        </router-link>
        </el-row>
        </div>
      </div>
    </el-main>
</template>
<script>

export default {
  name: "Blog"
}
</script>
