<template>
  <el-main>
    <div class="clubs main-banner  block">
      <div class="leftbox">
        <h1>Клубы</h1>
        <p>Сообщества на разные темы, где состоят родители и профессионалы</p>
        <div class="block-list">
          <div class="block-list-item">
            Задайте вопрос и получите ответ от профессиональных психологов и педагогов
          </div>
          <div class="block-list-item">
            Узнайте, как другие родители справляются с похожей проблемой
          </div>
          <div class="block-list-item">
            Поделитесь опытом с другими родителями – возможно, вы сможете помочь
          </div>
        </div>
        <button class="gray">Посмотреть клубы</button>
      </div>
      <div class="rightbox">
        <img src="../img/phone.svg">
      </div>
    </div>
    <div class="block banner gray">
      <div class="leftbox"></div>
      <div class="rightbox">
        <h2>Профессионалы – тоже в чате</h2>
        <p>Детские психологи и акушеры – всегда на связи и готовы ответить на ваши вопросы</p>
        <button class="gray">Посмотреть клубы</button>
      </div>
    </div>
    <div class="block">
      <h2>Какие есть клубы</h2>
      <p>3 клуба</p>
      <el-row>
        <router-link to="/">
          <el-col :span="11" class="advice-preview card">
            <div class="tags">
              <p># Беременность </p>
              <p>Бесплатно</p>
            </div>
            <div class="info">
                <div class="duration">1 ч 20 мин  •  152 просмотра</div>
                <div class="video-title">Название видео</div>
            </div>
          </el-col>
        </router-link>
        <router-link to="/">
          <el-col :span="11" class="advice-preview card">
            <div class="tags">
              <p># Беременность </p>
              <p>Бесплатно</p>
            </div>
            <div class="info">
                <div class="duration">1 ч 20 мин  •  152 просмотра</div>
                <div class="video-title">Название видео</div>
            </div>
          </el-col>
        </router-link>
        <router-link to="/">
          <el-col :span="11" class="advice-preview card">
            <div class="tags">
              <p># Беременность </p>
              <p>Бесплатно</p>
            </div>
            <div class="info">
                <div class="duration">1 ч 20 мин  •  152 просмотра</div>
                <div class="video-title">Название видео</div>
            </div>
          </el-col>
        </router-link>
      </el-row>
    </div>
    </el-main>
</template>
<script>
export default {
  name: "Clubs"
}
</script>
