<template>
  <el-main class="courses">
      <div class="title block">
        <h1>Курсы</h1>
        <div class="description">
          <div>
            <p><img src="../img/Expand_More.svg">Обучающие серии из 30-50 видео</p>
          </div>
          <div>
            <p><img src="../img/Expand_More.svg">Задания и проверочные</p>
          </div>
          <div>
            <p><img src="../img/Expand_More.svg">Чат для всех учащихся</p>
          </div>
        </div>
      </div>
      <div class="hashtags block">
        <el-row :gutter="20">
          <el-col :span="4">Все</el-col>
          <el-col :span="4">Бесплатные</el-col>
          <el-col :span="4"># Беременность</el-col>
          <el-col :span="4"># 1-3 года</el-col>
          <el-col :span="4"># 3-5 лет</el-col>
          <el-col :span="4">Показать все...</el-col>
        </el-row>
      </div>
      <div class="courses-group block">
        <div class="courses-amount">7 курсов</div>
        <CourseList/>
      </div>
    </el-main>
</template>
<script>
import CourseList from "@/components/CourseList";

export default {
  name: "Courses",
  components: {
    CourseList
  }
}
</script>
