<template>
  <el-main>
    <div class="main-banner block">
      <div class="description">
        <h1>Мама 7 детей подскажет</h1>
        <p>Дарья Хромова: все от зачатия до университета</p>
        <button class="gray">Подробнее об авторе</button>
      </div>
      <img scr="#">
    </div>
    <div class="banner  block">
      <div class="item">
        <h4>Мама</h4>
        <p>испытала радость материнства 7 раз</p>
      </div>
      <div class="item">
        <h4>Бабушка</h4>
        <p>первая взяла внучек на руки, прогревая их рождение</p>
      </div>
      <div class="item">
        <h4>Мама</h4>
        <p>испытала радость материнства 7 раз</p>
      </div>
      <div class="item">
        <h4>Бабушка</h4>
        <p>первая взяла внучек на руки, прогревая их рождение</p>
      </div>
    </div>
    <div class="advice block">
        <div class="block-name">
          <el-badge :value="296" class="item">
            <h2>Библиотека советов</h2>
          </el-badge>
          <p>1 видео = 1 полезный совет</p>
        </div> 
        <AdviceList/>
        <div class="center">
          <button class="all">Все 296 видеосоветов</button>
        </div>
    </div>
    <div class="courses block">
      <div class="block-name">
        <el-badge :value="7" class="item">
          <h2>Курсы</h2>
        </el-badge>
      </div>
        <CourseList/>
        <div class="center">
          <button class="all">Все 7 курсов</button>
        </div>
    </div>
    <div class="consult block">
      <div class="description">
        <h2>Персональная консультация</h2>
        <p>Некоторые вопросы лучше обсудить лично – вы можете записаться на персональную консультацию у Дарьи</p>
      </div>
      <div class="form">
        <form action="submit">
          <input type="text" placeholder="Имя">
          <input type="phone" value="+79">
          <input type="text" placeholder="Не обязательно к заполнению, можно рассказать лично">
          <button class="black">Далее</button>
        </form>
      </div>
    </div>
    <div class="clubs block">
      <img src="../img/phone.svg">
      <div class="description block">
        <h2>Клубы</h2>
        <p>Сообщества на разные темы, где состоят родители и профессионалы</p>
        <div class="list">
          <div class="list-item">Задайте вопрос и получите ответ от профессионалов</div>
          <div class="list-item">Узнайте, как другие родители справляются с похожей проблемой</div>
          <div class="list-item">Поделитесь опытом с другими родителями - возможно, вы сможете помочь</div>
        </div>
        <button class="center">Подробнее</button>
      </div>
    </div>
    <div class="reviews block">
      <h2>Отзывы</h2>
      <p>Все отзывы настоящие - их написано уже 38</p>
      <div class="reviews-list">
        <div class="reviews-list-item">
          <div class="author-info">
            <div class="name">
              <p>Марина Сергеева</p>
              <img src="facebook_icon.svg">
            </div>
            <div class="review-info">
              <p class="date">3 дня назад</p>
              <div class="rating">
                <div class="thumb-up">
                  <img src="">
                  <p>0</p>
                </div>
                <div class="thumb-down">
                  <img src="">
                  <p>0</p>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Все объяснено предельно понятно, спасибо</p>
          </div>
        </div>
        <div class="review-item">
          <div class="author-info">
            <div class="name">
              <p>Марина Сергеева</p>
              <img src="facebook_icon.svg">
            </div>
            <div class="review-info">
              <p class="date">3 дня назад</p>
              <div class="rating">
                <div class="thumb-up">
                  <img src="">
                  <p>0</p>
                </div>
                <div class="thumb-down">
                  <img src="">
                  <p>0</p>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Все объяснено предельно понятно, спасибо</p>
          </div>
        </div>
        <div class="review-item">
          <div class="author-info">
            <div class="name">
              <p>Марина Сергеева</p>
              <img src="facebook_icon.svg">
            </div>
            <div class="review-info">
              <p class="date">3 дня назад</p>
              <div class="rating">
                <div class="thumb-up">
                  <img src="">
                  <p>0</p>
                </div>
                <div class="thumb-down">
                  <img src="">
                  <p>0</p>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Все объяснено предельно понятно, спасибо</p>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="all">Читать все отзывы</button>
        <button class="all">Оставить отзыв</button>
      </div>
    </div>
  </el-main>
</template>
<script>
import AdviceList from "@/components/AdviceList";
import CourseList from "@/components/CourseList";

export default {
  name: "Home",
  components: {
    AdviceList,
    CourseList
  }
}
</script>