<template>
  <el-main>
    <el-tabs class="block" type="card" @tab-click="handleClick">
    <el-tab-pane label="Продолжить">
      <h2>Продолжить учиться</h2>
      
      <h2>Продолжить смотреть</h2>
      <AdviceList/>
    </el-tab-pane>
    <el-tab-pane label="Мои курсы">
      <div class="courses">
      <div class="block-name">
        <el-badge :value="2" class="item">
          <h2>Мои курсы</h2>
        </el-badge>
      </div>
        <CourseList/>
    </div>
    </el-tab-pane>
    <el-tab-pane label="Моя библиотека видео">
      <div class="block-name">
          <el-badge :value="296" class="item">
            <h2>Моя библиотека видео</h2>
          </el-badge>
        </div> 
        <AdviceList/>
    </el-tab-pane>
    <el-tab-pane label="Мои клубы">
      <div class="block-name">
        <el-badge :value="2" class="item">
          <h2>Мои клубы</h2>
        </el-badge>
      </div>
        <CourseList/>
    </el-tab-pane>
  </el-tabs>
  </el-main>
</template>
<script>
import CourseList from "@/components/CourseList";
import AdviceList from "@/components/AdviceList";

export default {
  name: "Profile",
  components: {
    CourseList,
    AdviceList
  }
}
</script>