<template>
    <div class="advice-list">
      <AdvicePreview
      />
    </div>
</template>
<script>
import AdvicePreview from "./AdvicePreview";
export default {
    name: "AdviceList",
    components: {
    AdvicePreview
  },
}
</script>