* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GraphikLCGRegular';
}
.el-menu, .el-footer {
    padding: 0 10vw;
    background-color: #F2F2F2;
} 
.el-header {
    padding: 0;
}
.el-main {
    padding: 0;
}
.block {
    padding: 50px 10vw 0 10vw;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 38px;
}
p {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: rgba(8, 5, 12, 1);
}
button {
    width: fit-content;
    padding: 14px 30px;
    border: none;
    background: #F2F2F2;
    border-radius: 4px;
}
button.gray {
    background: rgba(218, 218, 218, 1);
}
.center {
    display: flex;	
    justify-content: center;
}
button.black {
    background: rgba(0, 0, 0, 1);
    color: #ffffff;
}
.el-menu-item:hover {
    background: none !important;
}
.el-menu-item.is-active {
    border-bottom: none !important;
}
.home {
    font-size: 22px;
    font-weight: bold;
    color: #000000 !important;
    padding-left: 0;
}
.banner.block {
    display: flex;
}
.banner.block .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url(../src/img/heart-shape.svg) no-repeat;
    width: 250px;
    height: 200px;
}
.login, .consultation {
    float: right !important;
}
.consult.block form {
    display: flex;
    flex-direction: column;
    width: 50%
}
.clubs.block {
    display: flex;
    justify-content: space-between;
}
.clubs.block img {
    height: 400px;
}
.courses .title.block .description {
    display: flex;
}
.el-footer {
    font-size: 13px;
    padding-top: 50px;
}
.el-footer .tag {
    color: #000000;
    opacity: 0.5;
    font-size: 12px;
    margin-bottom: 30px;
}
.el-footer button.gray {
    width: 100%;
    margin-bottom: 50px;
}
.main-banner {
    height: calc(100vh - 60px);
}
.main-banner .description {
    width: 50%;
}
.main-banner .description h1{
    padding: 100px 0 30px;
}
.main-banner .description button {
    margin-top: 100px;
}
.title, .advice-list {
    padding-bottom: 50px;
}
.banner {
    background: #F2F2F2;
    height: 80vh;
}
.search {
    padding: 0 0 5px 35px;
    background: url(../src/img/search.svg) no-repeat 0% -100%;
}
.hashtags {
    margin-bottom: 50px;
}
.el-badge__content {
    color: rgba(0, 0, 0, 1);
    opacity: 0.4;
    font-size: 20px;
    background: none;
    padding-left: 15px;
    margin-top: 10px;
}
.el-row .el-col-4 {
    width:fit-content;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin: 5px;
}
.card {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 10px;
    margin: 0 10px 5px 0;
}
.advice-preview .info .duration {
    padding-top: 100px;
    font-size: 14px;
    color: #08050c50;
}
@font-face { 
    font-family: "GraphikLCGRegular";
    src: url("./fonts/GraphikLCGRegular.ttf");
}