<template>
  <el-container id="app" :direction="horizontal">
    <el-header>
          <el-menu :default-active="activeIndex" class="el-menu-demo" router="true" mode="horizontal">
            <el-menu-item class="home" index="/">МАМА7Д</el-menu-item>
            <el-menu-item index="/advices">Видео-советы</el-menu-item>
            <el-menu-item index="/courses">Курсы</el-menu-item>
            <el-menu-item index="/clubs">Клубы</el-menu-item>
            <el-menu-item index="/blog">Блог</el-menu-item>
            <el-menu-item class="login" index="/">Войти</el-menu-item>
            <el-menu-item class="consultation" index="/">Запись на консультацию</el-menu-item>
          </el-menu>
      </el-header>
    <router-view/>
    <el-footer height="30vh">
      <el-row type="flex" justify="space-between" border="solid">
        <el-col :span="8">
          <el-col :span="12">
            <el-row class="tag">Обучение</el-row>
            <el-row><router-link to="/advices">Видео-советы</router-link></el-row>
            <el-row><router-link to="/courses">Курсы</router-link></el-row>
            <el-row><router-link to="/clubs">Клубы</router-link></el-row>
          </el-col>
          <el-col :span="12">
            <el-row class="tag">О нас</el-row>
            <el-row><router-link to="/">Об авторе</router-link></el-row>
            <el-row><router-link to="/">Блог</router-link></el-row>
            <el-row><router-link to="/">Отзывы</router-link></el-row>
          </el-col>
        </el-col>
        <el-col :span="8">
          <el-row>
            <el-col :span="24">
              <button class="gray">Войти</button>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="10"><router-link to="/">Оставить отзыв</router-link></el-col>
            <el-col :span="14"><router-link to="/">Запись на консультацию</router-link></el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-divider></el-divider>
    </el-footer>
  </el-container>
</template>